

body{

    background-color: white;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   


}

.container{

    width: 100%;
    background-color: rgb(94, 172, 91); ;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 40% 40% auto; 
    grid-template-rows: 5% 5% 30% 30% 15% 10%; 
    
    
    
  
}


a:link, a:visited, a:active {
    text-decoration:none;
}
ul{
    list-style: none;
}




/*caja1*/
.gridLogo{ 
    width: 100%;
    height: 100%;
   
   
   
}
.logo{
    width: 100%;
    height: 100%;
    
 
   
   
  }

  /*caja2*/

  .gridSearchBar{

    width: 100%;
    height: 100%;
    grid-column: 2/4;

   
 
  
   
  
  
  }
  #elementosBusqueda{/*contenedor de searchbar*/
    font-size:1em ;
    color: rgb(235, 238, 236);
    text-align: center;
    margin: 0;
    padding-top: 1.5em;

  }
  



#botonBusqueda{/*boton que se cliquea para buscar*/

    font-size: large;
    width:100px ;
    height: 35px;
    border-radius: 5px;
    box-shadow: 10px;

}
#cajaTextoBusqueda{/*caja donde se ingresa el texto para buscar*/

    width: 400px;
    height: 35px;
    border-radius: 5px;
    box-shadow: 10px;
}




/*caja3 */

.gridMInferior{
    display: grid;
    grid-template-columns: 17% 15% 15% 15% 17% 15% 5%; 
    grid-template-rows: 100%; 
    grid-column: 1/4; 
    color: aliceblue;
    border: 2px solid rgb(94, 172, 91);
    padding: 1% 1% 1% 1%;
    background-color:rgb(23, 112, 23);
    text-align: center;
    

}
#gridMInferiorSec{

    text-align: center;
    padding: 20px 30px 35px 40px;
    border: 2px solid rgb(23, 112, 23);
    background-color: rgb(94, 172, 91) ;
    border-radius: 10px;
    box-shadow: 5px;
    font-size: 1em;

}
#gridMInferiorIcon{
height: 4.4em;
width: 4.7em;
text-align: center;
padding: 13px 15px 35px 5px;
border: 2px solid rgb(23, 112, 23);
background-color: rgb(94, 172, 91) ;
border-radius: 10px;
box-shadow: 5px;


}
#gridMInferiorIcon:hover{
    background-color:rgb(33, 165, 33);
    border-radius: 10x solid black;
    box-shadow: 5px

}

#mInferiorIcon{
height: 2em;
width: 2em;


}

a #mInferiorName {
    color:white;
    text-decoration: none;

}
#mInferiorName{

    padding: 0 ;
    font-size: medium;


}
#gridMInferiorSec:hover{
    background-color:rgb(33, 165, 33);
    border-radius: 10x solid black;
    box-shadow: 5px;
}


/*caja5*/
#ingresoFrutas{

    width: 98%;
    height: 78%;
   padding: 0 5px 5px 0;
   
 

}

#frutasFrescas{
    color: aliceblue;
}


.gridIngresoFrutas{

    text-align: center;
    align-items: center;
    border: 2px solid rgb(18, 146, 76);
    background-color: rgb(94, 172, 91) ;
    padding-bottom: 2%;
    color: aliceblue;
}
/*caja6*/
#ingresoVerduras{

    width: 98%;
    height: 78%;
   padding:0 5px 5px 0;
   
 

}

#verdurasFrescas{
    color: aliceblue;
}

.gridIngresoVerduras{

    text-align: center;
    align-items: center;
    border: 2px solid rgb(18, 146, 76);
    background-color: rgb(94, 172, 91);
    padding-bottom: 2%;
    color: aliceblue;
}

/*caja8*/
#ingresoMiel{

    width: 50%;
    height: 78%;
   padding:0 0 5px 0;
   float: left;
   background-color: rgb(94, 172, 91) ;
   
 

}
#ingresoConservas{

    width: 50%;
    height: 78%;
   padding:0 0 5px 0;
   float: right;
   
   
 

}


#mielConservas{
    color: aliceblue;
    background-color: rgb(94, 172, 91) ;
}

.gridIngresoMielConservas{

    text-align: center;
    align-items: center;
    border: 2px solid rgb(18, 146, 76);
    background-color: rgb(94, 172, 91);
    color: aliceblue;
    padding-bottom: 2%;
   

}

/*caja9*/
#ingresoHarinas{

    width: 50%;
    height: 78%;
   padding:0 0 5px 0;
   float: left;
   
}
#ingresoFrutosSecos{

    width: 50%;
    height: 78%;
    padding:0 0 5px 0;
   margin: 10 px;
   float: right;
}


#harinasFrutosSecos{
    color: aliceblue;
}

.gridIngresoHarinasFrutosSecos{

    text-align: center;
    align-items: center;
    border: 2px solid rgb(18, 146, 76);
    background-color: rgb(94, 172, 91) ;
    padding-bottom: 2%;
    color: aliceblue;
   

}
.gridAside {/*caja 7*/
    grid-row: 3/6; 
    grid-column: 3/4;
    padding: 5% 5% 0 5%;
    background-color:rgb(23, 112, 23);
    text-align: center;
    color: aliceblue;
    border: 2px solid rgb(18, 146, 76);
    height: 100%;
   

}
#ofertaName{
    padding: 2px;
    margin: 0;
    display: flexbox;

}
.cuadroOfertas{
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 2fr 2fr 2fr 2fr 2fr ;
    
    
}

.aOfertado{ /*foto*/

    height: 8em;
    width: 8em;
    border: 2px solid rgb(18, 146, 76);

}

.artOfertado{
    border: 2px solid rgb(18, 146, 76);
    background-color: rgb(94, 172, 91) ;
    border-radius:  5px;
    box-shadow: 5px;
    height: 100%;
    width: 100%;


}

.banner{
    grid-row:5/6 ;
    grid-column: 1/4;

    
}
#bannerFarm{
    width: 100%;
    padding: 5px 0;
}

.gridFooter{/*caja10---- footer*/
   
   
    display: grid;
     grid-row: 6/7; 
     grid-column: 1/4;
     grid-template-columns:1fr 1fr; 
     border: 2px solid rgb(18, 146, 76);
     background-color:rgb(94, 172, 91);
     color: aliceblue;
     padding: 10px;
    



}
#contacto li{
    display: inline;
   padding: 1.5em;
}

.contactosFooter{

text-align: left;
color: black;
font-size: small;
text-align: center;

}

#icons{
    color: black;
}

a #mercadoCentral{
   color: white;
    text-decoration:none;
    
}
.infoImportanteFooter{
    text-align: center;
    padding-top: 2em;
}
#mercadoCentral:hover{
    color: black;
    
}

/*media */
/*Escritorio*/
@media (min-width: 1199.98px)  {
    
}
/*Fin Escritorio*/

/*Tablet*/
/*Portrait*/
@media (min-width: 576px) and (max-width: 991.98px) and (orientation:portrait) {
    body{background: orange;}
}

/*landscape*/
@media (min0-width: 991.98px) and (max-width: 1199.98px)and (orientation:landscape) {
    body{background: blue;}
}
/*fin tablet*/

/*movil*/
/*Portrait*/
/*Default*/
@media (max-width: 575.98px)and (orientation:portrait) {
    body{background: green;}
 }
/*landscape*/
@media (min-width: 576px) and (max-width: 991.98px) and (orientation:landscape) {
    body{background: black;}
}





